<?xml version="1.0"?>

<launch>

    <include file="$(find vigir_template_library)/launch/vigir_template_parameters.launch"/>

    <node name="vigir_onboard_template_server" pkg="vigir_object_template_server" type="object_template_server" respawn="true" output="screen" > <!-- launch-prefix="xterm -e gdb " > -->
    </node>

</launch>
