<?xml version="1.0"?>

<launch>

    <rosparam file = "$(find vigir_template_library)/object_library/object_templates.xml"
              ns   = "object_templates/ot_library"/>

    <rosparam file = "$(find vigir_template_library)/grasp_library/$(optenv THOR_RIGHT_HAND_TYPE hector_gripper)_grasp_library.xml"
              ns   = "object_templates/r_hand_library"/>

</launch>
